<div ng-include="'comp/common/pageHeader.html'"></div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="box">
        <div class="box-title">
            <h5>All your data lists</h5>
            <div class="box-tools">
                <a ui-sref="home.datalists.edit" style="color: inherit"><i class="fa fa-plus-square"></i> Add new</a>
            </div>
        </div>
        <div class="box-content">
            <div st-table="displayedDataLists" st-safe-src="dataLists">
                <form name="search-dataList" class="form-inline">
                    <lm-form-group label="Search: ">
                        <input st-search type="text" id="search" name="search" ng-model="searchTerm" placeholder="Data list name" />
                    </lm-form-group>
                </form>

                <div class="table-responsive">
                    <table class="table table-hover table-mail">
                        <thead>
                            <tr>
                                <th class="sorting" st-sort="code">Name</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataList in displayedDataLists | filter:{name: searchTerm }">
                                <td>{{dataList.name}}</td>
                                <td><a ui-sref="home.datalists.edit({id: dataList.id})"><i class="fa fa-pencil"></i><span class="hidden-xs"> Edit</span></a></td>
                                <td>
                                    <a ng-bootbox-confirm="Are you sure you want to delete this?" ng-bootbox-confirm-action="delete(dataList.id)">
                                        <i class="fa fa-remove"></i><span class="hidden-xs"> delete</span>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="!displayedDataLists.length">
                                <td colspan="3">No data lists were found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div st-pagination st-items-by-page="10" st-displayed-pages="7"></div>
            </div>
        </div>
    </div>
</div>