<div class="box">
    <div class="box-title">
        <h5>{{ctrl.surveys.length}} records across {{ctrl.getThreadsCount()}} thread<span ng-if="ctrl.getThreadsCount() > 1">s</span></h5>
        <div class="box-tools">
            <a class="dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="false">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a ng-click="ctrl.selectAllRecords()"><i class="fa fa-check-square-o"></i> Select All</a>
                </li>
                <li>
                    <a ng-click="ctrl.selectAll()"><i class="fa fa-check-circle-o"></i> Select Page</a>
                </li>
                <li>
                    <a ng-click="ctrl.selectAllWithAttachments()">
                        <i class="fa fa-paperclip"></i> Has Attachment
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ng-click="ctrl.selectNone()"><i class="fa fa-refresh"></i> Clear Page</a>
                </li>
                <li>
                    <a ng-click="ctrl.clearAllRecords()"><i class="fa fa-eraser"></i> Clear All</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-content">
        <h3 ng-if="!ctrl.displayedSurveys.length"><i class="fa fa-info-circle"></i> No surveys were found</h3>
        <div st-table="ctrl.displayedSurveys" st-safe-src="ctrl.surveys" ng-if="ctrl.displayedSurveys.length">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" width="60"></th>
                            <th>Serial</th>
                            <th width="130">Date</th>
                            <th>{{ctrl.getDescriptionHeading()}}</th>
                            <th width="160"></th>
                            <th class="text-center" width="50"></th>
                            <th class="text-center" ng-if="ctrl.hasAccess(survey.formTemplateId, 'view')"></th>
                            <th class="text-center" ng-if="ctrl.hasAccess(survey.formTemplateId, 'edit')"></th>
                            <th class="text-center" ng-if="ctrl.hasAccess(survey.formTemplateId, 'delete')"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="survey in ctrl.displayedSurveys track by survey.id">
                            <td class="text-center">
                                <div class="checkbox table-checkbox">
                                    <input type="checkbox" id="record-{{survey.id}}" ng-model="survey.isChecked" />
                                    <label for="record-{{survey.id}}"></label>
                                </div>
                            </td>
                            <td class="text-center">{{survey.serial}}</td>
                            <td class="text-center"><lm-date-time value="survey.date"></lm-date-time></td>
                            <td>{{survey.description}}</td>
                            <td valign="middle">
                                <span class="color-block" ng-style="{'background-color': ctrl.getTemplateColour(survey.formTemplateId)}"></span>
                                <span class="template-name">{{ctrl.getFormTemplate(survey.formTemplateId)}}</span>
                            </td>
                            <td class="text-center">
                                <span ng-if="ctrl.getAttachmentsCount(survey) > 0"><i class="fa fa-paperclip"></i> {{ctrl.getAttachmentsCount(survey)}}</span>
                            </td>
                            <td class="text-center" ng-if="ctrl.hasAccess(survey.formTemplateId, 'view')">
                                <a ui-sref="home.surveys.view({surveyId: survey.id})" uib-tooltip="View record">
                                    <i class="fa fa-eye"></i> 
                                </a>
                            </td>
                            <td class="text-center" ng-if="ctrl.hasAccess(survey.formTemplateId, 'edit')">
                                <a ui-sref="home.surveys.edit({surveyId: survey.id})" uib-tooltip="Edit record"><i class="fa fa-pencil"></i></a>
                            </td>
                            <td class="text-center" ng-if="ctrl.hasAccess(survey.formTemplateId, 'delete')">
                                <a title="Delete" uib-tooltip="Delete record"
                                   ng-bootbox-confirm="Are you sure you want to delete this?"
                                   ng-bootbox-confirm-action="ctrl.delete(survey.id)">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div st-pagination st-items-by-page="10" st-displayed-pages="7"></div>
        </div>
    </div>
</div>