<div class="box">
    <div class="box-title">
        <h5 ng-if="!ctrl.timelineSnapshotView">Timeline ({{months[today.getMonth()]}})</h5>
        <h5 ng-if="ctrl.timelineSnapshotView">Timeline (snapshot view)</h5>

        <div class="box-tools" ng-if="!ctrl.timelineSnapshotView">
            <a title="Previous Month" ng-click="ctrl.timelinePreviousMonth()">{{months[(today.getMonth()+11)%12]}} <i class="fa fa-arrow-left"></i></a>
            <a title="Next Month" ng-click="ctrl.timelineNextMonth()"><i class="fa fa-arrow-right"></i> {{months[((today.getMonth()+1)%12)]}}</a>
        </div>
    </div>
    <div class="box-content timeline-box">
        <lm-timeline form-templates="ctrl.selectedTemplates" surveys="ctrl.displayedSurveys" height="250" render-mode="web"></lm-timeline>
    </div>
</div>