/// <reference path="../../lib/bootstrap-sass/assets/stylesheets/_bootstrap.scss" />

.confirm-email {
    margin-top: 10%;
}

.confirm-email-page {
    background-color: #2f4050;

    h2, .copyright {
        color: #f4f4f4;
    }
}
