.calendar-view {
    .view-action, .edit-action {
        color: #aaa;

        & :hover {
            color: #ddd;
        }
    }

    .badge {
        color: #fff !important;
    }

    .day-event > .event-item, 
    .day-event > .cal-hours {
        color: #E8E8E8;

        & :hover {
            color: white;
        }
    }

    .cal-week-box .event-item {
        color: black !important;
    }
}
