<div ng-include="'comp/common/pageHeader.html'"></div>
<div class="wrapper wrapper-content animated fadeInRight calendar-view">
    <lm-security-question-warning></lm-security-question-warning>
    
    <div class="box">
        <div class="box-title">
            <h4>{{today | amDateFormat: 'MMMM Do YYYY'}}</h4>
        </div>
        <div class="box-content">
            <div ng-if="ctrl.isCurrentUserAnAdmin" style="margin-bottom: 15px">
                <ui-select append-to-body="true" ng-model="ctrl.selectedProject" on-select="ctrl.selectedProjectChanged()">
                    <ui-select-match placeholder="Select a case">
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="project in (ctrl.projects | filter: $select.search) track by project.id">
                        <span ng-bind="project.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div ng-if="events.length">
                <div id="calendar-controls">
                    <div class="pull-left">
                        <button type="button" class="btn btn-default" ng-click="ctrl.goToday()">Today</button>

                        <div class="btn-group" role="group" aria-label="calendar date">
                            <button type="button" class="btn btn-default" ng-click="ctrl.goPrevious()">
                                <i class="fa fa-chevron-left"></i>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="ctrl.goNext()">
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>

                    <div class="pull-right">
                        <div class="btn-group" role="group" aria-label="calendar view">
                            <button type="button" class="btn btn-default" ng-click="ctrl.changeCalendarView('day')" ng-class="{ 'active': calendarView === 'day' }">Day</button>
                            <button type="button" class="btn btn-default" ng-click="ctrl.changeCalendarView('week')" ng-class="{ 'active': calendarView === 'week' }">Week</button>
                            <button type="button" class="btn btn-default" ng-click="ctrl.changeCalendarView('month')" ng-class="{ 'active': calendarView === 'month' }">Month</button>
                            <button type="button" class="btn btn-default" ng-click="ctrl.changeCalendarView('year')" ng-class="{ 'active': calendarView === 'year' }">Year</button>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <hr />

                <mwl-calendar view="calendarView"
                              view-date="viewDate"
                              events="events"
                              view-title="calendarTitle"
                              on-view-change-click="ctrl.onViewChangeClick(calendarDate, calendarNextView)"
                              on-timespan-click="ctrl.timespanClicked(calendarDate)"
                              on-event-click="ctrl.eventClicked(calendarEvent)"
                              on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                              cell-is-open="false">
                </mwl-calendar>
            </div>
        </div>
    </div>

    <div ng-if="!events.length && !ctrl.isCurrentUserAnAdmin">
        <div class="alert alert-info">No records to show</div>
    </div>
</div>