.statistics_view {
    .chart-header {
        background-color: #f9f9f9;
        padding: 10px 15px;
        text-align: center;
        border: 1px solid #eee;
        margin-top: 0;
        border-radius: 4px;
    }

    .badge-large {
        font-size: x-large;
        padding-bottom: 10px 15px;
    }
}