/// <reference path="../lib/bootstrap-sass/assets/stylesheets/_bootstrap.scss" />

body {
    background-color: $gray;
}

.panel {
    @extend .panel-default;
}

button {
    @extend .btn;
    @extend .btn-default;
}

table.table {
    margin-bottom: 0;

    .st-sort-ascent:before {
        content: '\25B2';
    }

    .st-sort-descent:before {
        content: '\25BC';
    }

    th[st-sort] {
        cursor: pointer;
    }
}

.table-checkbox {
    margin: 0;
}

.table-responsive {
    padding-right: 10px;
}

ul.pagination {
    margin: 20px 0 0 0;
}

.breadcrumb {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;

    li a {
        color: inherit;
    }

    .active {
        color: inherit;
        font-weight: bold;
    }
}

.wrapper {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
    overflow-y: auto;
}

#wrapper {
    overflow-y: auto;
}

[class*='col-'].no-gutter-left, .no-gutter-left > [class*='col-'] {
    padding-left: 0;
}

[class*='col-'].no-gutter-right, .no-gutter-right > [class*='col-'] {
    padding-right: 0;
}

[class*='col-'].no-gutter, .no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* timeline styles */
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

    & table tbody tr td {
        white-space: nowrap;
    }
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

/* global loading overlay */
.loading {
    position: absolute;
    padding: 100px;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #1D2331;
    text-align: center;
    width: 100%;
    height: 101%;
    opacity: 0.95;
}

/* the CSS spinner inside loading overlay */
.sk-cube-grid {
    width: 60px;
    height: 60px;
    margin: 50px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.nav > li > a i {
    vertical-align: text-top;
    font-size: 16px;
}

.nav .nav-second-level {
    min-width: 200px !important;
}

video {
    width: auto !important;
}

.ui-tour-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    fill: rgba(0, 0, 0, 0.5);
}

.gm-style .gm-style-iw-c {
    border-radius: 0 !important;
}