<div class="row attachment-metric" ng-controller="attachmentMetricController">
    <div class="col-md-12">
        <div ng-if="isViewMode || isPrintMode">
            <div class="photos">
                <div xgallerify="{'margin':5, 'mode':'flickr'}">
                    <img ng-repeat="attachment in formValue.attachments | filter: {typeString:'image', isDeleted: false} track by $index" ng-src="{{attachment.url}}" alt="{{attachment.fileName}}" ng-click="deleteAttachment($event, attachment)" />
                </div>
            </div>
    
            <div>
                <div ng-repeat="attachment in formValue.attachments | filter: {typeString:'!image', isDeleted: false} track by $index" ng-click="deleteAttachment($event, attachment)" >
                    <div class='col-xs-8 file-name'>
                        <a href="{{attachment.url}}" target="_blank">{{attachment.fileName}}</a>
                    </div>
                    <div class='col-xs-3'>
                        <div class='info'>
                            {{attachment.typeString}}{{attachment.fileSize}}
                        </div>
                    </div>
                    <i class="delete-icon fa fa-trash fa-3x"></i>
                </div>
            </div>
        </div>

        <div ng-if="isExportMode" class="row attachment-metric" ng-controller="attachmentMetricController">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>FileName</th>
                        <th>Type</th>
                        <th>Size (byte)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='attachment in formValue.attachments | filter: {isDeleted: false} track by $index'>
                        <td class='col-xs-8 file-name'>
                            <a href="{{attachment.url}}" target="_blank">{{attachment.fileName}}</a>
                        </td>
                        <td class="col-xs-2 info">
                            {{attachment.typeString}}
                        </td>
                        <td class="col-xs-2">
                            {{attachment.fileSize}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
