
.survey-print { background: white; padding: 0 20px; margin-bottom: 20px;
    .metric-groups { }
    .metrics {
        .metric { background-color: white; position: relative; padding: 10px; break-inside: avoid; }
    }
}
