body { background: white; overflow: auto; }

.survey-print {
    background: white;
    padding: 0 20px;
    margin-bottom: 20px;

    & {}
    .metric-groups{
        & { min-height: 200px; }
    }
    .metrics {
        & { min-height: 100px; }
        .metric { background-color: white; position: relative;
            &:hover {
                &{border: 1px dashed silver;}
                .metric-header { display: block; }
                .metric-body {  }
            }

            &:active {
                & { box-shadow: 0 0 15px #eee; }
            }

            .metric-header {
                & { display: none; background-color: #fafafa; z-index: 100; position: absolute; top: 1px; right: 11px; border: 1px solid #ddd; border-top: 0; text-align: right; padding: 0 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
                a { padding: 6px 15px; display: inline-block; color: gray; }
            }
            .metric-body { padding: 10px; border: 1px dashed white; }
        }
    }

    .metric-group {
        .metric-group-header {
            h2 { display: inline-block; }
            a {
                display: none;
                color: gray;
                padding: 6px 15px;
                border: 1px solid #ddd;
                border-radius: 5px;
                float: right;
                margin-top: 16px;
            }

            &:hover {
                a { display: inline-block; }
            }
        }
    }
}
