<div class="row item item-checkbox" ng-controller="dichotomousMetricController">
    <div class="col-md-8">
        <div class="form-group">
            <lable class="radio-inline">
                <input type="radio" ng-model="formValue.boolValue" ng-value="true" ng-required="{{metric.mandatory}}" name="{{inputName}}"> Yes
            </lable>
            <lable class="radio-inline">
                <input type="radio" ng-model="formValue.boolValue" ng-value="false" ng-required="{{metric.mandatory}}" name="{{inputName}}"> No
            </lable>
        </div>
    </div>
    <div class="col-md-4  text-danger errors" ng-messages="{{inputErrorsKey}}">
        <div ng-message="required"><span translate>This is required</span></div>
    </div>
</div>