<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ctrl.title}}</h2>
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight surveys-view">
    <div class="box" ng-if="ctrl.projects.length > 1">
        <div class="box-content">
            <ui-select append-to-body="true" ng-model="ctrl.selectedProject" on-select="ctrl.selectedProjectChanged()">
                <ui-select-match placeholder="Select a project to get started">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="project in (ctrl.projects | filter: $select.search) track by project.id">
                    <span ng-bind="project.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <ui-view />
</div>