<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ctrl.title}}</h2>
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight surveys-view">
    <div class="box">
        <div class="box-content">
            <form name="selectProject" class="form-inline">
                <select class="form-control project-select" ng-model="ctrl.selectedProject" ng-change="ctrl.selectedProjectChanged()">
                    <option value="">Select a project to get started</option>
                    <option ng-repeat="project in ctrl.projects" ng-value="project">{{project.name}}</option>
                </select>
            </form>
        </div>
    </div>
    <ui-view />
</div>