<div ng-include="'comp/common/pageHeader.html'"></div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="box">
        <div class="box-title">
            <h5>Details</h5>
        </div>
        <div class="box-content">
            <form name="userForm" class="form-horizontal" novalidate>
                <lm-form-group label="Email:">
                    <input type="email" name="email" id="email" ng-model="ctrl.user.email" required />
                </lm-form-group>
                <lm-form-group label="First Name:">
                    <input type="text" name="firstName" id="firstName" ng-model="ctrl.user.firstName" required />
                </lm-form-group>
                <lm-form-group label="Surname:">
                    <input type="text" name="lastName" id="lastName" ng-model="ctrl.user.surname" required />
                </lm-form-group>
                <lm-form-group label="Gender:">
                    <div class="input-group">
                        <select id="gender" name="gender" ng-model="ctrl.user.gender">
                            <option ng-selected="ctrl.user.gender === item.id"
                                    ng-repeat="item in ctrl.genderTypes"
                                    ng-value="item.id">{{item.label}}</option>
                        </select>
                    </div>
                </lm-form-group>
                <lm-form-group label="Birthdate:">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="ctrl.openBirthDateCalendar()"><i class="fa fa-calendar"></i></button>
                        </span>
                        <input uib-datepicker-popup="{{INPUT_DATE_FORMAT}}" is-open="ctrl.birthDateCalendar.isOpen" class="form-control" type="text" name="birth-date" ng-model="ctrl.user.birthdate" placeholder="birth date" />
                    </div>
                </lm-form-group>
                <lm-form-group label="Address:">
                    <input type="text" name="address" id="address" ng-model="ctrl.user.address" />
                </lm-form-group>
                <lm-form-group label="Phone Number:">
                    <input type="text" name="phoneNumber" id="phoneNumber" ng-model="ctrl.user.phoneNumber" />
                </lm-form-group>
                <lm-form-group label="Type:">
                    <div class="input-group">
                        <select id="type" name="type" ng-model="ctrl.user.type" ng-options="type as type.name for type in ctrl.types track by type.id" required></select>
                    </div>
                </lm-form-group>
                <lm-form-group label="Password:" ng-if="ctrl.isInsertMode">
                    <input type="password" name="password" id="password" ng-model="ctrl.user.password" required />
                </lm-form-group>
                <lm-form-group label="Confirm password:" ng-if="ctrl.isInsertMode">
                    <input type="password" name="confirmPassword" id="confirmPassword" ng-model="ctrl.user.confirmPassword" required />
                </lm-form-group>
                <lm-form-group label="Access Type:">
                    <div class="checkbox checkbox-default">
                        <input type="checkbox" id="chk-web-user" name="chk-web-user" ng-model="ctrl.user.isWebUser" />
                        <label for="chk-web-user">Web User</label>
                    </div>
                    <div class="checkbox checkbox-default">
                        <input type="checkbox" id="chk-mobile-user" name="chk-mobile-user" ng-model="ctrl.user.isMobileUser" />
                        <label for="chk-mobile-user">Mobile User</label>
                    </div>
                </lm-form-group>
                <lm-form-group ng-if="ctrl.errors !== undefined" class="">
                    <div class="alert alert-danger animated fadeInDown">
                        {{ctrl.errors}}
                        <a class="alert-link pull-right" ng-click="ctrl.clearErrors()"><i class="fa fa-times"></i></a>
                    </div>
                </lm-form-group>
                <lm-form-group>
                    <button type="submit" class="btn btn-primary" ng-click="ctrl.submit(userForm)">Submit</button>
                </lm-form-group>
                <a ui-sref="home.users.list"><i class="fa fa-arrow-left"></i> Back to list</a>
            </form>

        </div>
    </div>
    <div class="box">
        <div class="box-title">
            <h5>Organisation Teams</h5>
        </div>
        <div class="box-content">

        </div>
    </div>
</div>

