/// <reference path="../../lib/bootstrap-sass/assets/stylesheets/_bootstrap.scss" />
@import "_slideshow.scss";

.login {
    margin-top: 13%;
    
    .panel {
        opacity: .6;
        transition: opacity ease-in-out .2s;
    }

    .panel:hover {
        opacity: 1;
    }
}

.login-page {
    background-color: #2f4050;

    h2, .copyright {
        color: #f4f4f4;
    }
}
