<form name="securityCodeForm" novalidate>
    <div class="form-group" style="margin-bottom: 0;">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="code-addon" style="padding: 2px 15px; font-size: 30px" ng-disabled="isVerifying">
                <i class="icon ion-locked"></i>
            </span>
            <input name="security-code" id="security-code" class="form-control input-lg" type="password" ng-model="verificationData.token" placeholder="Security code" required autofocus aria-describedby="code-addon" ng-disabled="isVerifying">
        </div>
    </div>

    <p>
        <center>
            <button class="btn btn-info btn-lg btn-block" type="submit" ng-click="verifyCode(securityCodeForm)" ng-disabled="isVerifying">
                <i class="fa fa-check-circle" ng-if="!isVerifying"></i>
                <i class="fa fa-spin fa-cog" ng-if="isVerifying"></i>
                <span ng-if="!isVerifying">Verify code</span>
                <span ng-if="isVerifying">Verifying...</span>
            </button>
        </center>
    </p>
</form>