<div ng-include="'comp/common/pageHeader.html'"></div>
<div class="wrapper wrapper-content animated fadeInRight">

    <lm-security-question-warning></lm-security-question-warning>
    <!-- email and phone -->
    <div class="box">
        <div class="box-title">
            <h5>Email and phone</h5>
        </div>
        <div class="box-content">
            <div class="alert alert-warning" role="alert" ng-if="!currentUser.emailConfirmed">
                <strong>Warning!</strong> You haven't confirmed your email address!
            </div>

            <div class="alert alert-warning" role="alert" ng-if="currentUser.phoneNumber && !currentUser.phoneNumberConfirmed">
                <strong>Warning!</strong> You haven't verified your phone number!
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td width="120" style="border-top: none">Email Address</td>
                        <td width="120" style="border-top: none"><strong>{{currentUser.email}}</strong></td>
                        <td style="border-top: none">
                            <button class="btn btn-success btn-xs" ng-if="!currentUser.emailConfirmed" ng-click="ctrl.confirmEmailAddress()">
                                <i class="fa fa-check"></i> Confirm Email
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td width="120">Phone Number</td>
                        <td width="120">
                            <span ng-if="currentUser.phoneNumber.length"><strong>{{currentUser.phoneNumber}}</strong></span>
                            <span ng-if="!currentUser.phoneNumber">NONE</span>
                        </td>
                        <td>
                            <!-- Add Phone Number -->
                            <button class="btn btn-info btn-xs" ng-if="!currentUser.phoneNumber" ng-click="ctrl.addPhoneNumber()">
                                <i class="fa fa-phone-square"></i> Add Phone
                            </button>
                            <!-- Verify Phone Number -->
                            <button class="btn btn-info btn-xs" ng-if="currentUser.phoneNumber.length && !currentUser.phoneNumberConfirmed" ng-click="ctrl.verifyPhoneNumber()">
                                <i class="fa fa-check"></i> Verify Phone
                            </button>
                            <!-- Change Phone Number -->
                            <button class="btn btn-primary btn-xs" ng-if="currentUser.phoneNumber.length && currentUser.phoneNumberConfirmed" ng-click="ctrl.changePhoneNumber()">
                                <i class="fa fa-wrench"></i> Change
                            </button>
                            <!-- Remove Phone Number -->
                            <button class="btn btn-danger btn-xs" ng-if="currentUser.phoneNumber.length"
                                    ng-bootbox-confirm="Are you sure you want to remove this phone number?"
                                    ng-bootbox-confirm-action="ctrl.removePhoneNumber()">
                                <i class="fa fa-check"></i> Remove
                            </button>
                            <!-- Enable 2FA -->
                            <button class="btn btn-primary btn-xs" ng-if="currentUser.phoneNumber && currentUser.twoFactorAuthenticationEnabled">
                                <i class="fa fa-lock"></i> Enable Two-factor Authentication
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- security question -->
    <div class="box">
        <div class="box-title">
            <h5>Security question</h5>
        </div>
        <div class="box-content">
            <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Important</strong> security answers are case sensitive. Choose an answer you can remember and keep it somewhere safe.
            </div>

            <form name="securityForm" novalidate>
                <lm-form-group label="Question: ">
                    <ui-select append-to-body="true" ng-model="ctrl.selectedSecurityQuestion">
                        <ui-select-match placeholder="Select a security question">
                            <span ng-bind="$select.selected.text"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="question in (ctrl.questions | filter: $select.search) track by question.value">
                            <span ng-bind="question.text"></span>
                        </ui-select-choices>
                    </ui-select>
                </lm-form-group>
                <lm-form-group label="Answer: ">
                    <input type="text" class="form-control" ng-model="ctrl.selectedSecurityAnswer" id="securityAnswer" name="securityAnswer" placeholder="Enter your security answer here" required />
                </lm-form-group>

                <button type="submit" class="btn btn-primary" ng-click="ctrl.saveSecurityInfo()" ng-disabled="securityForm.$invalid">
                    <i class="fa fa-save"></i> Save changes
                </button>

                <button type="button" class="btn btn-info"
                        ng-if="ctrl.securityQuestionEnabled"
                        ng-bootbox-confirm="Are you sure you want to remove your security question and answer?"
                        ng-bootbox-confirm-action="ctrl.removeSecurityInfo()">
                    <i class="fa fa-eraser"></i> Remove info
                </button>
            </form>
        </div>
    </div>
</div>