.survey-form {
    .nav-tabs,
    .nav > li > a {
        display: none;
    }

    .actions {
        & {
            text-align: right;
        }

        ul {
            & {
                list-style: none;
                display: inline-block;
                text-align: right;
            }

            li {
                margin: 0 0.5em;
                float: left;
            }
        }
    }

    .map-wrap {
        margin-bottom: 15px;
    }

    .angular-google-map-container {
        height: 300px;
    }

    .color-block {
        vertical-align: middle;
        width: 16px;
        height: 16px;
        display: inline-block;
        border-radius: 3px;
    }

    .advice-records-wrap {
        .advice-record-item {
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .advice-record-item:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}
