<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>
            {{ctrl.title}}
            <a class="btn pull-right" ng-click="ctrl.previousState()">
                <i class="fa fa-chevron-left "></i> back
            </a>
        </h2>
        <h4>{{ctrl.subtitle}}</h4>
        <!--<div ncy-breadcrumb></div>-->
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight survey-form">
    <lm-security-question-warning></lm-security-question-warning>
    
    <div class="box">
        <div class="box-title">
            <span class="color-block" ng-style="{'background-color': ctrl.formTemplate.colour}"></span>
            <span style="vertical-align: middle; font-weight: 700">{{ctrl.formTemplate.title}}</span>
            <span style="vertical-align: middle; font-weight: 700" ng-show="ctrl.survey.serial !== null"> / #{{ctrl.survey.serial}}</span>
        </div>
        <div class="box-content">
            <div class="steps">
                <form name="surveyForm" class="wizard-big wizard clearfix" novalidate>
                    <div class="errors">
                        <div ng-repeat="error in ctrl.errors | filter: {key: ''}">
                            {{error.value}}
                        </div>
                    </div>

                    <div id="serial-references" ng-if="ctrl.formTemplate.discriminator === 1">
                        <lm-form-group label="Serial References (optional)">
                            <lm-serial-references id="serial-refs-input" data="ctrl.availableSerialNumbers"
                                                  placeholder="to link to specific records start typing with # to add serial numbers"
                                                  ng-model="ctrl.survey.serialReferences"></lm-serial-references>
                        </lm-form-group>
                    </div>

                    <uib-tabset active="ctrl.activeTabIndex">
                        <uib-tab ng-repeat="tab in ctrl.tabs">
                            <div class="metric-groups">
                                <div class="content" ng-repeat="metricGroup in ctrl.formTemplate.metricGroups | filter: {page:tab.number} | filter: {isDeleted: false} track by $index ">
                                    <div ng-if="!metricGroup.isRepeater" ng-include="'comp/home/surveys/new/_metricGroup.html'"></div>
                                    <div ng-if="metricGroup.isRepeater" ng-include="'comp/home/surveys/new/_metricGroupRepeater.html'"></div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>

                    <div id="location-content" ng-if="ctrl.formTemplate.discriminator === 0">
                        <h2 style="margin-top: 0">Location</h2>

                        <input type="text" class="form-control" placeholder="Enter an address or post/zip code"
                               ng-model="geocoding.address"
                               ng-disabled="geocoderWorking || geolocationWorking"
                               style="max-width: 400px; display: inline-block; vertical-align: middle" /> &nbsp;

                        <button type="button" class="btn btn-info" ng-click="ctrl.getAddress()" ng-disabled="!geocoding.address.length || geocoderWorking || geolocationWorking">
                            <span ng-if="!geocoderWorking">
                                <i class="fa fa-map-o"></i> Input Address
                            </span>
                            <span ng-if="geocoderWorking">
                                <i class="fa fa-cog fa-spin"></i> Geocoding
                            </span>
                        </button>

                        <button type="button" class="btn btn-info" ng-click="ctrl.getMyLocation()" ng-disabled="geolocationWorking || geocoderWorking">
                            <span ng-if="!geolocationWorking">
                                <i class="fa fa-location-arrow"></i> Get My Location
                            </span>
                            <span ng-if="geolocationWorking">
                                <i class="fa fa-cog fa-spin"></i> Geocoding
                            </span>
                        </button>

                        <button type="button" class="btn btn-default" ng-click="ctrl.clearAddress()">
                            <i class="fa fa-eraser"></i> Clear
                        </button>

                        <br /><br />
                        <div id="map_canvas" ng-show="geocoding.hasLocation" style="width: 100%; height: 400px"></div>

                        <div class="hr-line-dashed"></div>
                    </div>

                    <div class="actions">
                        <ul>
                            <li>
                                <a ui-sref="home.surveys.list.summary({projectId: ctrl.survey.projectId})" class="btn btn-default">Cancel</a>
                            </li>
                            <li>
                                <a ng-show="ctrl.activeTabIndex > 0" ng-click="ctrl.previous()" class="btn btn-default">Previous</a>
                            </li>
                            <li>
                                <a ng-show="ctrl.activeTabIndex + 1 < ctrl.tabs.length" ng-click="ctrl.next()" class="btn btn-primary">Next</a>
                            </li>
                            <li>
                                <a ng-click="ctrl.submit(surveyForm)" class="btn btn-primary">Submit</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>