<div class="row">
    <div ng-class="{ 'col-md-8': !isCompact, 'col-md-12': isCompact }">
        <div class="form-group">
            <div class="radio radio-default" ng-if="metric.viewType === 'RadioButtonList'" ng-repeat="item in items | orderBy:'order' | filter:{ 'isDeleted': false } track by $index">
                <input id="radio-{{$index}}" name="radio-{{$index}}" type="radio" ng-model="formValue.guidValue" value="{{item.id}}">
                <label for="radio-{{$index}}">{{item.text}}</label>
            </div>

            <div ng-if="metric.viewType === 'DropDown'">
                <select class="form-control" ng-model="formValue.guidValue">
                    <option value=""></option>
                    <option ng-repeat="item in items | orderBy:'order' | filter:{ 'isDeleted': false } track by $index" value="{{item.id}}">{{item.text}}</option>
                </select>
            </div>
        </div>
    </div>
</div>