<div class="box updates">
    <div class="box-title">
        <h5>Updates</h5>
    </div>
    <div class="box-content">
        <p ng-if="!ctrl.updates.length">Data not available</p>
        <div class="feed-activity-list" ng-if="ctrl.updates.length">
            <div class="feed-element" ng-repeat="update in ctrl.updates">
                <div class="media-body ">
                    <span>{{update.description}}</span><br>
                    <small class="text-muted">{{update.date| date:"dd/MM/yyyy 'at' h:mma"}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box analytics">
    <div class="box-title">
        <h5>Analytics</h5>
    </div>
    <div class="box-content">
        Data not available
    </div>
</div>
