.team-wizard-view {
    .checkbox {
        padding-left: 27px;
    }

    .color-block {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        border-radius: 2px;
    }
}
