<div class="box" ng-repeat="formTemplate in ctrl.formTemplates track by formTemplate.id | orderBy: 'code'">
    <div class="box-title">
        <h4>
            <i class="fa fa-windows" ng-if="!formTemplate.projectId"></i>
            <span class="color-block" ng-if="formTemplate.projectId" ng-style="{'background-color': formTemplate.colour}"></span>
            {{formTemplate.title}}
            <a class="pull-right" ng-if="ctrl.project.allowAdd" 
               ui-sref="home.surveys.new({projectId: ctrl.project.id, formTemplateId: formTemplate.id})"><i class="fa fa-plus-square"></i> Add new </a>
        </h4>
    </div>
    <div class="box-content">
        <div st-table="displayedProjects" st-safe-src="projects">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Serial no</th>
                        <th>Completed by</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="survey in ctrl.surveys | filter: {formTemplateId: formTemplate.id} | orderBy:'-surveyDate' | limitTo : 5">
                        <td>{{survey.date | amDateFormat: 'L'}}</td>
                        <td>{{survey.serial}}</td>
                        <td>{{survey.filledBy}}</td>
                        <td>{{survey.description}}</td>
                        <td>
                            <a ui-sref="home.surveys.view({surveyId: survey.id})" ng-if="ctrl.project.allowView">
                                <i class="fa fa-eye"></i> <span class="hidden-xs"> View</span>
                            </a>
                        </td>
                        <td>
                            <a ui-sref="home.surveys.print-single({surveyId: survey.id})" ng-if="ctrl.project.allowView">
                                <i class="fa fa-print"></i><span class="hidden-xs"></span> Print
                            </a>
                        </td>
                        <td>
                            <a ui-sref="home.surveys.edit({surveyId: survey.id})" ng-if="ctrl.project.allowEdit"><i class="fa fa-pencil"></i><span class="hidden-xs"> Edit</span></a>
                        </td>
                        <td>
                            <a ng-bootbox-confirm="Are you sure you want to delete this?" ng-bootbox-confirm-action="ctrl.delete(survey.id)" ng-if="ctrl.project.allowDelete">
                                <i class="fa fa-remove"></i><span class="hidden-xs"> delete</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p ng-if="ctrl.project.id">
            <a ui-sref="home.surveys.list.all({formTemplateId: formTemplate.id, projectId: ctrl.project.id})"
               class="text-primary">See all <i class="fa fa-arrow-right"></i></a>
        </p>
    </div>
</div>