<lm-particles></lm-particles>

<div class="set-password col-md-8 col-md-offset-2" ng-controller="setPasswordController">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="text-center">
                <h2><strong>OnRecord</strong> platform</h2>
            </div>

            <div class="panel m-t">
                <div class="panel-heading">
                    Reset Password
                </div>
                <div class="panel-body">
                    <form name="resetPassForm" novalidate>
                        <lm-form-group label="Email address">
                            <input name="email" id="email" type="email" ng-model="model.email" placeholder="Your email address" required autofocus ng-disabled="emailAddress.length">
                        </lm-form-group>

                        <lm-form-group label="Token">
                            <input id="code" name="code" ng-model="model.code" placeholder="Password reset token" type="text" required ng-disabled="token.length">
                        </lm-form-group>

                        <lm-form-group label="New password">
                            <input type="password" name="password" id="password" placeholder="new password" ng-model="model.password" required ng-minlength="6" ng-em-minlength="Passwords must be at least 6 characters." />
                        </lm-form-group>

                        <lm-form-group label="Confirm password">
                            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirm new password" ng-model="model.confirmPassword" ng-change="checkMatch()" required />
                            <p ng-show="!isMatch" class="text-danger">Passwords do not match</p>
                        </lm-form-group>

                        <div ng-show="resetPassForm.$submitted" ng-animate="'animate'">
                            <span ng-show="resetPassForm.email.$error.required">Email is required</span>
                            <span ng-show="resetPassForm.email.$error.email">Email is not valid</span>
                            <span ng-show="resetPassForm.code.$error.required">Token is required</span>
                            <span ng-show="resetPassForm.password.$error.required">New Password is required</span>
                            <span ng-show="resetPassForm.confirmPassword.$error.required">Confirm password is required</span>
                        </div>

                        <button class="btn btn-primary pull-right" type="submit" ng-click="resetPassword(resetPassForm)">Reset Password <i class="fa fa-check"></i></button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="copyright text-center">
            Copyright <a href="http://analogue.digital">analogue.digital</a> &copy; 2019
        </div>
    </div>
</div>

