<div ng-include="'comp/common/pageHeader.html'"></div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="box">
        <div class="box-title">
            <h5>{{ctrl.project.name}} assignments</h5>
        </div>
        <div class="box-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Users</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in ctrl.userAssignments">
                        <td>{{user.name}}</td>
                        <td class="text-center">
                            <div class="checkbox checkbox-circle checkbox-primary pull-right no-margins margin-right-20">
                                <input type="checkbox" id="can-del-{{user.userId}}" ng-model="user.canDelete" ng-change="ctrl.updateAssignment(user, 'delete')" />
                                <label for="can-del-{{user.userId}}">Delete</label>
                            </div>
                            <div class="checkbox checkbox-circle checkbox-primary pull-right no-margins margin-right-20">
                                <input type="checkbox" id="can-edit-{{user.userId}}" ng-model="user.canEdit" ng-change="ctrl.updateAssignment(user, 'edit')" />
                                <label for="can-edit-{{user.userId}}">Edit</label>
                            </div>
                            <div class="checkbox checkbox-circle checkbox-primary pull-right no-margins margin-right-20">
                                <input type="checkbox" id="can-add-{{user.userId}}" ng-model="user.canAdd" ng-change="ctrl.updateAssignment(user, 'add')" />
                                <label for="can-add-{{user.userId}}">Add</label>
                            </div>
                            <div class="checkbox checkbox-circle checkbox-primary pull-right no-margins margin-right-20">
                                <input type="checkbox" id="can-view-{{user.userId}}" ng-model="user.canView" ng-change="ctrl.updateAssignment(user, 'view')" />
                                <label for="can-view-{{user.userId}}">View</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a ui-sref="home.projects.list"><i class="fa fa-arrow-left"></i> Back to list</a>
        </div>
    </div>
</div>