<lm-particles></lm-particles>

<div class="forgot-password col-md-8 col-md-offset-2" ng-controller="forgotPasswordController">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="text-center">
                <h2>analogue.<strong>DIGITAL</strong> platform</h2>
            </div>

            <div class="panel m-t">
                <div class="panel-heading">
                    Forgot Password
                </div>
                <div class="panel-body">
                    <form name="forgotPassForm" novalidate>
                        <lm-form-group label="Email">
                            <input name="email" id="email" type="email" ng-model="model.email" placeholder="Email" required autofocus>
                        </lm-form-group>

                        <div ng-show="forgotPassForm.$submitted" ng-animate="'animate'">
                            <span ng-show="forgotPassForm.email.$error.required">Email is required</span>
                            <span ng-show="forgotPassForm.email.$error.email">Email is not valid</span>
                        </div>

                        <button class="pull-right" type="submit" ng-click="resetPassword(forgotPassForm)">Reset Password <i class="fa fa-unlock-alt"></i></button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="copyright text-center">
            Copyright <a href="http://analogue.digital">analogue.digital</a> ©2016
        </div>
    </div>
</div>

