<lm-particles></lm-particles>

<div class="forgot-password col-md-8 col-md-offset-2" ng-controller="forgotPasswordController">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="text-center">
                <h2><strong>OnRecord</strong> platform</h2>
            </div>

            <div class="panel m-t">
                <div class="panel-heading">Reset your Password</div>
                <div class="panel-body">
                    <form name="emailForm" novalidate ng-hide="requestSent">
                        <lm-form-group label="Email address">
                            <input type="email" name="emailAddress" id="emailAddress" ng-model="model.emailAddress" placeholder="Username/email address" required ng-disabled="securityQAEnabled">
                        </lm-form-group>

                        <button class="btn btn-default pull-right" type="submit"
                                ng-click="goNext(emailForm)"
                                ng-disabled="emailForm.emailAddress.$invalid"
                                ng-hide="securityQAEnabled">
                            <i class="fa fa-arrow-right"></i> Next
                        </button>
                    </form>
                    
                    <form name="securityForm" novalidate ng-if="securityQAEnabled" ng-hide="requestSent">
                        <lm-form-group label="Security Question">
                            <p>{{securityQuestion}}</p>
                        </lm-form-group>

                        <lm-form-group label="Security Answer">
                            <input type="text" id="securityAnswer" name="securityAnswer" ng-model="model.securityAnswer" placeholder="Enter your security answer here" required />
                        </lm-form-group>

                        <button type="submit" class="btn btn-default pull-right" ng-click="verifyAnswer(securityForm)" ng-disabled="securityForm.securityAnswer.$invalid">
                            <i class="fa fa-check-circle"></i> Verify answer
                        </button>
                    </form>

                    <div ng-if="requestSent">
                        <p class="lead">
                            Check your inbox! We have sent you an email to help you reset your password.
                        </p>
                        <p>
                            <a ui-sref="login">
                                <i class="fa fa-arrow-left"></i> back to login page
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="copyright text-center">
            Copyright <a href="https://analogue.digital">analogue.digital</a> &copy; 2019
        </div>
    </div>
</div>

