<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>{{ctrl.title}}<a class="btn pull-right" ng-click="ctrl.previousState()"><i class="fa fa-chevron-left "></i> back</a></h2>
        <div ncy-breadcrumb></div>
    </div>
</div>
<div class="row wrapper wrapper-content animated fadeInRight survey-form">
    <div class="col-lg-9">
        <div class="box">
            <div class="box-title">
                <span class="color-block" ng-style="{'background-color': ctrl.formTemplate.colour}"></span>
                <span style="vertical-align: middle">{{ctrl.formTemplate.title}}</span>
                <span style="vertical-align: middle" ng-show="ctrl.survey.serial !== null"> (#{{ctrl.survey.serial}})</span>
            </div>
            <div class="box-content">
                <div class="steps">
                    <form name="surveyForm" class="wizard-big wizard clearfix" novalidate>
                        <uib-tabset active="ctrl.activeTabIndex">
                            <uib-tab ng-repeat="tab in ctrl.tabs">
                                <div class="metric-groups">
                                    <div class="content" ng-repeat="metricGroup in ctrl.formTemplate.metricGroups | filter: {page:tab.number} | filter: {isDeleted: false} track by $index ">
                                        <div ng-if="!metricGroup.isRepeater" ng-include="'comp/home/surveys/view/_metricGroup.html'"></div>
                                        <div ng-if="metricGroup.isRepeater" ng-include="'comp/home/surveys/view/_metricGroupRepeater.html'"></div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>

                        <div class="actions">
                            <ul>
                                <li>
                                    <a ng-click="ctrl.previousState()" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back to List</a>
                                </li>
                                <li>
                                    <a ng-show="ctrl.activeTabIndex > 0" ng-click="ctrl.previous()" class="btn btn-default">Previous</a>
                                </li>
                                <li>
                                    <a ng-show="ctrl.activeTabIndex + 1 < ctrl.tabs.length" ng-click="ctrl.next()" class="btn btn-primary">Next</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <ng-include src="'comp/home/surveys/view/_formDetails.html'"></ng-include>
        <ng-include src="'comp/home/surveys/view/_locations.html'"></ng-include>
    </div>
</div>

