<div ng-include="'comp/common/pageHeader.html'"></div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="box">
        <div class="box-title">
            <h5>Details</h5>
        </div>
        <div class="box-content">
            <form name="organisationform" class="form-horizontal" novalidate>
                <lm-form-group label="Name: *" form-group-class="has-feedback" feedback-value="{{organisation.name.length}}">
                    <input type="text" id="name" name="name" ng-model="organisation.name" required
                           placeholder="Choose a name for this organisation" />
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="organisation.name.length"></span>
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-if="!organisation.name.length"></span>
                </lm-form-group>
                <lm-form-group label="Subscription Enabled: ">
                    <div class="checkbox checkbox-default">
                        <input type="checkbox" name="subscription-enabled" ng-model="organisation.subscriptionEnabled" />
                        <label for="subscription-enabled"></label>
                    </div>
                </lm-form-group>
                <lm-form-group label="Monthly Rate: " ng-if="organisation.subscriptionEnabled == true">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-gbp"></i></span>
                        <input type="number" id="subscriptionMonthlyRate" name="subscriptionMonthlyRate" ng-model="organisation.subscriptionMonthlyRate" required />
                    </div>
                </lm-form-group>

                <div ng-if="isInsertMode">
                    <br />
                    <br />
                    <h5>Root user's details</h5>
                    <div class="hr-line-dashed"></div>

                    <lm-form-group label="Email: *" form-group-class="has-feedback" feedback-value="{{organisation.rootUser.email.length}}">
                        <input type="email" id="email" name="email" ng-model="organisation.rootUser.email" required
                               placeholder="the Org Admin email" />
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="organisation.rootUser.email.length"></span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-if="!organisation.rootUser.email.length"></span>
                    </lm-form-group>
                    <lm-form-group label="Password: *" form-group-class="has-feedback" feedback-value="{{organisation.rootUser.password.length}}">
                        <input type="password" id="password" name="password" ng-model="organisation.rootUser.password" required
                               placeholder="Choose a strong password" />
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="organisation.rootUser.password.length"></span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-if="!organisation.rootUser.password.length"></span>
                    </lm-form-group>
                    <lm-form-group label="Confirm Password: *" form-group-class="has-feedback" feedback-value="{{organisation.rootUser.confirmPassword.length}}">
                        <input type="password" id="confirmPassword" name="confirmPassword" ng-model="organisation.rootUser.confirmPassword" required
                               placeholder="Confirm your password" />
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="organisation.rootUser.confirmPassword.length"></span>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true" ng-if="!organisation.rootUser.confirmPassword.length"></span>
                    </lm-form-group>
                    <lm-form-group label="First Name: ">
                        <input type="text" id="firstName" name="firstName" ng-model="organisation.rootUser.firstName"
                               placeholder="First name" />
                    </lm-form-group>
                    <lm-form-group label="Surname: ">
                        <input type="text" id="surname" name="surname" ng-model="organisation.rootUser.surname"
                               placeholder="Surname" />
                    </lm-form-group>
                </div>

                <br />
                <br />
                <h5>Contacts details</h5>
                <div class="hr-line-dashed"></div>
                <lm-form-group label="Address Line 1: ">
                    <input type="text" id="addressLine1" name="addressLine1" ng-model="organisation.addressLine1"
                           placeholder="Address line 1" />
                </lm-form-group>
                <lm-form-group label="Address Line 2: ">
                    <input type="text" id="addressLine2" name="addressLine2" ng-model="organisation.addressLine2"
                           placeholder="Address line 2" />
                </lm-form-group>
                <lm-form-group label="Town ">
                    <input type="text" id="town" name="town" ng-model="organisation.town"
                           placeholder="Town/City" />
                </lm-form-group>
                <lm-form-group label="County ">
                    <input type="text" id="county" name="county" ng-model="organisation.county"
                           placeholder="County/Province" />
                </lm-form-group>
                <lm-form-group label="Postcode: ">
                    <input type="text" id="postcode" name="postcode" ng-model="organisation.postcode"
                           placeholder="Postcode/Zip" />
                </lm-form-group>

                <lm-form-group label="Telephone number ">
                    <input type="text" id="telNumber" name="telNumber" ng-model="organisation.telNumber"
                           placeholder="telephone number" />
                </lm-form-group>

                <lm-form-group ng-if="errors !== undefined" class="">
                    <div class="alert alert-danger animated fadeInDown">
                        {{errors}}
                        <a class="alert-link pull-right" ng-click="clearErrors()"><i class="fa fa-times"></i></a>
                    </div>
                </lm-form-group>
                <lm-form-group>
                    <button type="submit" class="btn btn-primary" ng-click="submit(organisationform)">Submit</button>
                </lm-form-group>
                <a ui-sref="home.organisations.list"><i class="fa fa-arrow-left"></i> Back to list</a>
            </form>
        </div>
    </div>
    <div class="box">
        <div class="box-title">
            <h5>Users</h5>
        </div>
        <div class="box-content">
            <div st-table="displayedUsers" st-safe-src="users">
                <div>
                    <form name="search-form" class="form-inline">
                        <lm-form-group label="Search: ">
                            <input st-search type="text" id="search" name="search" ng-model="searchTerm" />
                        </lm-form-group>
                    </form>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th st-sort="accountType" class="text-center" width="40">Type</th>
                                <th st-sort="[firstName,surname]">Name</th>
                                <th st-sort="email">Email</th>
                                <th class="text-center" st-sort="isWebUser" width="120">Web User</th>
                                <th class="text-center" st-sort="isMobileUser" width="120">Mobile User</th>
                                <th class="text-center" width="100"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in displayedUsers">
                                <td class="text-center">
                                    <span ng-if="user.accountType === 0">
                                        <i class="fa fa-phone-square"></i>
                                    </span>

                                    <span ng-if="user.accountType === 1">
                                        <i class="fa fa-laptop"></i>
                                    </span>
                                </td>
                                <td>{{user.firstName}} {{user.surname}}</td>
                                <td>
                                    <i class="fa fa-user-secret" ng-if="user.isRootUser"></i>
                                    <i class="fa fa-user-o" ng-if="!user.isRootUser"></i>
                                    &nbsp;
                                    {{user.email}}
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check" ng-if="user.isWebUser"></i>
                                    <i class="fa fa-times" ng-if="!user.isWebUser"></i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check" ng-if="user.isMobileUser"></i>
                                    <i class="fa fa-times" ng-if="!user.isMobileUser"></i>
                                </td>
                                <td class="text-center">
                                    <a ng-if="!user.isRootUser" ng-bootbox-confirm="Are you sure you want to remove this user?" ng-bootbox-confirm-action="remove(user)">
                                        <i class="fa fa-unlink"></i> <span class="hidden-xs"> remove</span>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="!displayedUsers.length">
                                <td colspan="6">No users were found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div st-pagination st-items-by-page="10" st-displayed-pages="7"></div>
            </div>
        </div>
    </div>
</div>