<div class="modal-header">
    <h3 class="modal-title">Free text metric</h3>
</div>
<div class="modal-body">
    <form name="formTemplateForm" class="form-horizontal" novalidate>
        <lm-form-group label="Category: ">
            <select id="category" name="category" ng-model="ctrl.formTemplate.formTemplateCategory" ng-options="category as category.title for category in ctrl.categories track by category.id" required></select>
        </lm-form-group>
        <lm-form-group label="Project :">
            <select name="project" ng-model="ctrl.formTemplate.projectId" ng-change="ctrl.projectChanged()">
                <option value="">(Shared)</option>
                <option ng-repeat="project in ctrl.projects" value="{{project.id}}" ng-selected="project.id === ctrl.formTemplate.projectId">{{project.name}}</option>
            </select>
        </lm-form-group>
        <lm-form-group label="Code: ">
            <input type="text" id="code" name="code" ng-model="ctrl.formTemplate.code" required />
        </lm-form-group>
        <lm-form-group label="Title: ">
            <input type="text" id="title" name="title" ng-model="ctrl.formTemplate.title" required />
        </lm-form-group>
        <lm-form-group label="Description: ">
            <textarea rows="3" id="description" name="description" ng-model="ctrl.formTemplate.description" required />
        </lm-form-group>
        <lm-form-group label="Colour: ">
            <input id="colour" name="colour" type="text" class="form-control" minicolors="minicolorSettings" ng-model="ctrl.formTemplate.colour" />
        </lm-form-group>
        <lm-form-group label="Calendar Date: ">
            <select id="calendar-date-metric" name="calendar-date-metric" ng-model="ctrl.formTemplate.calendarDateMetricId">
                <option>Choose a date metric</option>
                <option ng-repeat="opt in ctrl.calendarDateMetrics track by opt.id" value="{{opt.id}}">{{opt.title}}</option>
            </select>
        </lm-form-group>
        <lm-form-group label="Timeline Bar: ">
            <select id="timeline-bar-metric" name="timeline-bar-metric" ng-model="ctrl.formTemplate.timelineBarMetricId">
                <option>Choose a rate metric</option>
                <option ng-repeat="opt in ctrl.timelineBarMetrics track by opt.id" value="{{opt.id}}">{{opt.title}}</option>
            </select>
        </lm-form-group>
        <lm-form-group label="Desc. Format: ">
            <tags-input ng-model="ctrl.selectedTags" on-tag-added="ctrl.updateDescriptionFormat()" on-tag-removed="ctrl.updateDescriptionFormat()" replace-spaces-with-dashes="false">
                <auto-complete source="ctrl.loadTags($query)"></auto-complete>
            </tags-input>

            <h6>Format Preview</h6>
            <input type="text" ng-model="ctrl.formTemplate.descriptionFormat" placeholder="description format preview" />
        </lm-form-group>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="ctrl.close()">Close</button>
</div>