<div ng-include="'comp/common/pageHeader.html'"></div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="box" ng-if="ctrl.isSuperUser">
        <div class="box-title">
            <h5>Admin Subscriptions</h5>
        </div>
        <div class="box-content">
            <p>Administrator Accounts do not need an active subscription. Your account is managed by OnRecord.</p>
            <p>You have full access to our platform as determined by your account type, assignments and other factors.</p>
            <p>If you need help regarding your subscriptions please contact your administrator.</p>
        </div>
    </div>

    <div class="box" ng-if="lastSubscription && !ctrl.isSuperUser">
        <div class="box-title">
            <h5>Active Subscription</h5>
        </div>
        <div class="box-content">
            <div ng-if="lastSubscription.id">
                <div ng-if="lastSubscription.type === 0">
                    <p class="lead">{{lastSubscription.note}}</p>
                    <p>
                        Starting from <strong>{{lastSubscription.startDate | amDateFormat: 'L'}}</strong>
                    </p>

                    <p ng-if="lastSubscription.subscriptionPlan.isLimited">
                        Limited to {{lastSubscription.subscriptionPlan.monthlyQuota}} records per month.
                    </p>

                    <p ng-if="!lastSubscription.subscriptionPlan.isLimited">No upload limits. You can collect all the information you need.</p>

                    <p>
                        PDF Export:
                        <span ng-if="lastSubscription.subscriptionPlan.pdfExport">
                            <i class="fa fa-check-circle-o"></i> Yes
                        </span>
                        <span ng-if="!lastSubscription.subscriptionPlan.pdfExport">
                            <i class="fa fa-times"></i> No
                        </span>
                    </p>

                    <p>
                        Zip Export:
                        <span ng-if="lastSubscription.subscriptionPlan.zipExport">
                            <i class="fa fa-check-circle-o"></i> Yes
                        </span>
                        <span ng-if="!lastSubscription.subscriptionPlan.zipExport">
                            <i class="fa fa-times"></i> No
                        </span>
                    </p>
                </div>

                <div ng-if="lastSubscription.type === 1">
                    <p class="lead">Your subscription is managed by your organisation.</p>
                    <p>
                        Starting from <strong>{{lastSubscription.startDate | amDateFormat: 'L'}}</strong>
                    </p>
                    <p>{{lastSubscription.note}}</p>
                </div>

                <div ng-if="lastSubscription.type === 2">
                    <p class="lead">You are subscribed using a voucher.</p>
                    <p>
                        Starting from <strong>{{lastSubscription.startDate | amDateFormat: 'L'}}</strong>
                    </p>
                    <p>You have a fixed monthly quota for uploading records. If you need more space please purchase a subscription or join an organization.</p>
                    <!--<p>{{lastSubscription.note}}</p>-->
                </div>
            </div>

            <div ng-if="!lastSubscription.id">
                <p>Unsubscribed users have a fixed monthly quota. If you need more space please subscribe to continue.</p>
            </div>

            <div>
                <hr />
                <p><strong>Monthly quota</strong></p>
                <uib-progressbar class="progress-striped active" max="quota.quota" type="info"
                                 ng-if="quota.quota && quota.used === 0"><i>0 / {{quota.quota}}</i></uib-progressbar>

                <uib-progressbar class="progress-striped active" max="quota.quota" value="quota.used" type="info"
                                 ng-if="quota.quota && quota.used > 0"><i>{{quota.used}} / {{quota.quota}}</i></uib-progressbar>

                <uib-progressbar class="progress-striped active" max="quota.quota" value="quota.used" type="success"
                                 ng-if="!quota.quota"><i>{{quota.used}} records this month</i></uib-progressbar>
            </div>
        </div>
    </div>

    <div class="box" ng-if="!ctrl.isSuperUser">
        <div class="box-title">
            <h5>Subscriptions</h5>
        </div>
        <div class="box-content">
            <div class="alert alert-warning" role="alert" ng-if="ctrl.isRestricted">
                <strong>Warning</strong> You do not have an active subscription. Buy subscription, join an organisation or redeem a voucher to continue using the platform.
            </div>

            <p ng-if="ctrl.latestSubscription">Your next renewal is on <strong>{{ctrl.latestSubscription | amDateFormat: 'DD/MM/YYYY'}}</strong></p>

            <p>
                <button class="btn btn-info" ng-click="ctrl.addSubscription()">
                    <i class="fa fa-credit-card"></i> Add Subscription
                </button>

                <button class="btn btn-primary" ng-click="ctrl.redeemCode()">
                    <i class="fa fa-gift"></i> Redeem Voucher
                </button>
            </p>

            <div ng-if="subscriptions.length">
                <hr />
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" width="100">Start Date</th>
                                <th class="text-center" width="100">End Date</th>
                                <th class="text-center" width="100">Price</th>
                                <th class="text-center" width="100">Length</th>
                                <th>Note</th>
                                <th class="text-center" width="120">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entry in subscriptions track by $index" ng-class="{ 'success': entry.isActive }">
                                <td class="text-center">{{entry.startDate | amDateFormat: 'DD/MM/YYYY'}}</td>
                                <td class="text-center">{{entry.endDate | amDateFormat: 'DD/MM/YYYY'}}</td>
                                <td class="text-center">
                                    <span ng-if="entry.price">{{entry.price | currency : '&pound;'}}</span>
                                    <span ng-if="!entry.price">NA</span>
                                </td>
                                <td class="text-center">
                                    <span ng-if="entry.subscriptionPlan">
                                        <span ng-if="entry.subscriptionPlan.length == 1">a month</span>
                                        <span ng-if="entry.subscriptionPlan.length > 1">{{entry.subscriptionPlan.length}} months</span>
                                    </span>
                                    <span ng-if="!entry.subscriptionPlan">NA</span>
                                </td>
                                <td>{{entry.note}}</td>
                                <td class="text-center">
                                    <span ng-if="entry.type == 1">Organisation</span>
                                    <span ng-if="entry.type == 0">Paid plan</span>
                                    <span ng-if="entry.type == 2">Voucher</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>