<div ng-include="'comp/common/pageHeader.html'"></div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="box">
        <div class="box-title">
            <h5>Subscriptions</h5>
        </div>
        <div class="box-content">
            <div class="alert alert-warning" role="alert" ng-if="ctrl.isRestricted">
                <strong>Warning!</strong> You do not have an active subscription! Setup your payment method, or redeem a promotion code.
            </div>

            <p ng-if="ctrl.latestSubscription">Your next renewal is on <strong>{{ctrl.latestSubscription | amDateFormat: 'DD/MM/YYYY'}}</strong></p>

            <button class="btn btn-info">
                <i class="fa fa-credit-card"></i> Add Payment Method
            </button>

            <button class="btn btn-primary" ng-click="ctrl.redeemCode()">
                <i class="fa fa-gift"></i> Redeem Code
            </button>
        </div>
    </div>
    <div class="box">
        <div class="box-title">
            <h5>Payments</h5>
        </div>
        <div class="box-content">
            <ng-include src="'comp/home/myAccount/_payments.html'"></ng-include>
        </div>
    </div>
</div>