<div ng-include="'comp/common/pageHeader.html'"></div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="box">
        <div class="box-title">
            <h5>Subscriptions</h5>
        </div>
        <div class="box-content">
            <div class="alert alert-warning" role="alert" ng-if="ctrl.isRestricted">
                <strong>Warning</strong> You do not have an active subscription. Buy subscription, join an organisation or redeem a voucher to continue using the platform.
            </div>

            <p ng-if="ctrl.latestSubscription">Your next renewal is on <strong>{{ctrl.latestSubscription | amDateFormat: 'DD/MM/YYYY'}}</strong></p>

            <button class="btn btn-info" ng-click="ctrl.addSubscription()">
                <i class="fa fa-credit-card"></i> Add Subscription
            </button>

            <button class="btn btn-primary" ng-click="ctrl.redeemCode()">
                <i class="fa fa-gift"></i> Redeem Voucher
            </button>
        </div>
    </div>

    <div class="box" ng-if="lastSubscription">
        <div class="box-title">
            <h5>Active Subscription</h5>
        </div>
        <div class="box-content">
            <div ng-if="lastSubscription.type === 0">
                <p>
                    Starting from <strong>{{lastSubscription.startDate | amDateFormat: 'L'}}</strong>
                </p>
                <p>{{lastSubscription.note}}</p>

                <p ng-if="lastSubscription.subscriptionPlan.isLimited">
                    Limited to {{lastSubscription.subscriptionPlan.monthlyQuota}} records per month.
                </p>

                <p ng-if="!lastSubscription.subscriptionPlan.isLimited">No upload limits.</p>

                <p>
                    PDF Export: 
                    <span ng-if="lastSubscription.subscriptionPlan.pdfExport">
                        <i class="fa fa-check-circle-o"></i> Yes
                    </span>
                    <span ng-if="!lastSubscription.subscriptionPlan.pdfExport">
                        <i class="fa fa-times"></i> No
                    </span>
                </p>

                <p>
                    Zip Export: 
                    <span ng-if="lastSubscription.subscriptionPlan.zipExport">
                        <i class="fa fa-check-circle-o"></i> Yes
                    </span>
                    <span ng-if="!lastSubscription.subscriptionPlan.zipExport">
                        <i class="fa fa-times"></i> No
                    </span>
                </p>
            </div>

            <div ng-if="lastSubscription.type === 1">
                <p>
                    Starting from <strong>{{lastSubscription.startDate | amDateFormat: 'L'}}</strong>
                </p>
                <p>{{lastSubscription.note}}</p>
            </div>

            <div ng-if="lastSubscription.type === 2">
                <p>
                    Starting from <strong>{{lastSubscription.startDate | amDateFormat: 'L'}}</strong>
                </p>
                <p>{{lastSubscription.note}}</p>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-title">
            <h5>Payments</h5>
        </div>
        <div class="box-content">
            <ng-include src="'comp/home/myAccount/_payments.html'"></ng-include>
        </div>
    </div>
</div>