<div class="box">
    <div class="box-title">
        <h5>Directory of Users</h5>
    </div>
    <div class="box-content">
        <div st-table="displayedProjects" st-safe-src="projects">
            <div>
                <form name="search-form" class="form-inline">
                    <lm-form-group label="Search: ">
                        <input st-search type="text" id="search" name="search" ng-model="searchTerm" />
                    </lm-form-group>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th st-sort="name">Name</th>
                            <th width="100"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in displayedProjects">
                            <td><a ui-sref="home.surveys.list.summary({projectId:project.id})">{{project.name}}</a></td>
                            <td><a ui-sref="home.projects.summary({id: project.id})"><i class="fa fa-pie-chart"></i><span class="hidden-xs"> summary</span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div st-pagination st-items-by-page="20" st-displayed-pages="7"></div>
        </div>
    </div>
</div>
