#adv-search {
    position: relative;
    height: auto;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    top: 0;
    opacity: 1;
}

#adv-search.ng-hide {
    top: -30px;
    opacity: 0;
}

#adv-search.ng-hide-add,
#adv-search.ng-hide-remove {
    display: block !important;
}