<div ng-hide="ctrl.isDataView" st-table="ctrl.displayedSurveys" st-safe-src="ctrl.surveys">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Serial no</th>
                <th>Completed by</th>
                <th>{{ctrl.getDescriptionHeading()}}</th>
                <th></th>
                <th class="text-center" width="80" ng-if="ctrl.hasAccess(ctrl.formTemplate, 'view')"></th>
                <th class="text-center" width="80" ng-if="ctrl.hasAccess(ctrl.formTemplate, 'edit')"></th>
                <th class="text-center" width="80" ng-if="ctrl.hasAccess(ctrl.formTemplate, 'delete')"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="survey in ctrl.displayedSurveys | orderBy:'-surveyDate'">
                <td>{{survey.date | amDateFormat: 'L'}}</td>
                <td>{{survey.serial}}</td>
                <td>{{survey.filledBy}}</td>
                <td>{{survey.description}}</td>
                <td>
                    <span ng-if="ctrl.getAttachmentsCount(survey) > 0"><i class="fa fa-paperclip"></i> {{ctrl.getAttachmentsCount(survey)}}</span>
                </td>
                <td class="text-center" ng-if="ctrl.hasAccess(ctrl.formTemplate, 'view')">
                    <a ui-sref="home.surveys.view({surveyId: survey.id})">
                        <i class="fa fa-eye"></i><span class="hidden-xs"></span> View
                    </a>
                </td>
                <td class="text-center" ng-if="ctrl.hasAccess(ctrl.formTemplate, 'edit')">
                    <a ui-sref="home.surveys.edit({surveyId: survey.id})"><i class="fa fa-pencil"></i><span class="hidden-xs"> Edit</span></a>
                </td>
                <td class="text-center" ng-if="ctrl.hasAccess(ctrl.formTemplate, 'delete')">
                    <a ng-bootbox-confirm="Are you sure you want to delete this?" ng-bootbox-confirm-action="ctrl.delete(survey.id)">
                        <i class="fa fa-remove"></i><span class="hidden-xs"> delete</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div st-pagination st-items-by-page="10" st-displayed-pages=""></div>
</div>
<div ng-show="ctrl.isDataView" st-table="ctrl.displayedSurveysData" st-safe-src="ctrl.surveysData">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th ng-repeat="item in ctrl.surveysDataHeaders" ng-if="$index > 0">{{item}}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="survey in ctrl.displayedSurveysData">
                <td ng-repeat="item in survey" ng-if="$index > 0">
                    {{item}}
                <td>
                    <a ui-sref="home.surveys.edit({surveyId: survey[0]})" ng-if="ctrl.hasAccess(ctrl.formTemplate, 'edit')"><i class="fa fa-pencil"></i><span class="hidden-xs"> </span></a>
                </td>

                <td>
                    <a ng-bootbox-confirm="Are you sure you want to delete this?" ng-bootbox-confirm-action="ctrl.delete(survey[0])" ng-if="ctrl.hasAccess(ctrl.formTemplate, 'delete')">
                        <i class="fa fa-remove"></i><span class="hidden-xs"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div st-pagination st-items-by-page="10" st-displayed-pages="7"></div>
</div>