<div class="box">
    <div class="box-title">
        <h4>
            {{ctrl.formTemplate.title}}
            <span class="pull-right">
                <span class="radio radio-inline">
                    <input id="chk-data-view" type="radio" ng-model="ctrl.isDataView" ng-value="true" />
                    <label for="chk-data-view">Data view</label>
                </span>
                <span class="radio radio-inline">
                    <input id="chk-list-view" type="radio" ng-model="ctrl.isDataView" ng-value="false" />
                    <label for="chk-list-view">List</label>
                </span>
            </span>
        </h4>
    </div>
    <div class="box-content">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Search term..." maxlength="50" ng-model="ctrl.searchTerm" />
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="ctrl.openStartDateCalendar()"><i class="fa fa-calendar"></i></button>
                        </span>
                        <input uib-datepicker-popup="{{'dd/MM/yyyy'}}" is-open="ctrl.startDateCalendar.isOpen" class="form-control" type="text" name="start-date" ng-model="ctrl.startDate" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="ctrl.openEndDateCalendar()"><i class="fa fa-calendar"></i></button>
                        </span>
                        <input uib-datepicker-popup="{{'dd/MM/yyyy'}}" is-open="ctrl.endDateCalendar.isOpen" class="form-control" type="text" name="start-date" ng-model="ctrl.endDate" />
                    </div>
                </div>
                <div class="col-md-2 pull-right" style="direction: rtl">
                    <button type="button" class="btn btn-primary" ng-click="ctrl.search()">
                        <i class="fa fa-search"></i> Search
                    </button>

                    <button type="button" class="btn btn-default" ng-click="ctrl.toggleAdvancedSearch()">
                        <i class="fa fa-chevron-down" ng-if="!ctrl.isAdvSearchOpen"></i>
                        <i class="fa fa-chevron-up" ng-if="ctrl.isAdvSearchOpen"></i>
                        Advanced
                    </button>
                </div>
            </div>

            <div id="adv-search" ng-show="ctrl.isAdvSearchOpen">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Advanced Search Filters</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="metric-filter-content" ng-repeat="metricFilter in ctrl.formTemplate.metricFilters track by $index">
                        <div ng-class="{ 'row': ($index + 1) % 4 == 0 }">
                            <div ng-include="'comp/common/filterControls/_filter/filter.html'" ng-controller="filterController"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr />

        <div ng-hide="ctrl.isDataView" st-table="ctrl.displayedSurveys" st-safe-src="ctrl.surveys">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Serial no</th>
                        <th>Completed by</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="survey in ctrl.displayedSurveys | orderBy:'-surveyDate'">
                        <td>{{survey.surveyDate | amDateFormat: 'L'}}</td>
                        <td>{{survey.serial}}</td>
                        <td>{{survey.filledBy}}</td>
                        <td>{{survey.description}}</td>
                        <td>
                            <a ui-sref="home.surveys.view({surveyId: survey.id})">
                                <i class="fa fa-eye"></i><span class="hidden-xs"></span> View
                            </a>
                        </td>
                        <td>
                            <a ui-sref="home.surveys.print-single({surveyId: survey.id})">
                                <i class="fa fa-print"></i><span class="hidden-xs"> Print</span>
                            </a>
                        </td>
                        <td>
                            <a ui-sref="home.surveys.edit({surveyId: survey.id})"><i class="fa fa-pencil"></i><span class="hidden-xs"> Edit</span></a>
                        </td>
                        <td>
                            <a ng-bootbox-confirm="Are you sure you want to delete this?" ng-bootbox-confirm-action="ctrl.delete(survey.id)">
                                <i class="fa fa-remove"></i><span class="hidden-xs"> delete</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div st-pagination st-items-by-page="10" st-displayed-pages=""></div>
        </div>
        <div ng-show="ctrl.isDataView" st-table="ctrl.displayedSurveysData" st-safe-src="ctrl.surveysData">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th ng-repeat="item in ctrl.surveysDataHeaders" ng-if="$index > 0">{{item}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="survey in ctrl.displayedSurveysData">
                        <td ng-repeat="item in survey" ng-if="$index > 0">
                            {{item}}
                        <td>
                            <a ui-sref="home.surveys.edit({surveyId: survey[0]})"><i class="fa fa-pencil"></i><span class="hidden-xs"> </span></a>
                        </td>

                        <td>
                            <a ng-bootbox-confirm="Are you sure you want to delete this?" ng-bootbox-confirm-action="ctrl.delete(survey[0])">
                                <i class="fa fa-remove"></i><span class="hidden-xs"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div st-pagination st-items-by-page="10" st-displayed-pages="7"></div>
        </div>
    </div>
    <div class="box-footer">
        <a ui-sref="home.surveys.new({formTemplateId: ctrl.formTemplate.id, projectId: ctrl.project.id})"><i class="fa fa-plus-square"></i> Add new </a>
    </div>
</div>

