<div class="box">
    <div class="box-title">
        <h4>
            {{ctrl.formTemplate.title}}
            <span class="pull-right">
                <span class="radio radio-inline">
                    <input id="chk-data-view" type="radio" ng-model="ctrl.isDataView" ng-value="true" />
                    <label for="chk-data-view">Data view</label>
                </span>
                <span class="radio radio-inline">
                    <input id="chk-list-view" type="radio" ng-model="ctrl.isDataView" ng-value="false" />
                    <label for="chk-list-view">List</label>
                </span>
            </span>
        </h4>
    </div>
    <div class="box-content">
        <div ng-include="'comp/home/surveys/all/_searchForm.html'"></div>
        <div ng-include="'comp/home/surveys/all/_dataTable.html'"></div>
    </div>
    <div class="box-footer" ng-if="ctrl.assignment.canAdd">
        <a ui-sref="home.surveys.new({formTemplateId: ctrl.formTemplate.id, projectId: ctrl.project.id})"><i class="fa fa-plus-square"></i> Add new </a>
    </div>
</div>

