<div ng-controller="metricGroupRepeaterController">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover dataTable dtr-inline repeater">
            <tbody>
                <tr>
                    <th></th>
                    <th ng-if="isDataList" ng-repeat="title in relationshipTitles"><div class="table-header-wrapper">{{::title}}</div></th>
                    <th ng-repeat="metric in metricGroup.metrics  | filter: {isDeleted: false} track by $index ">
                        <div class="table-header-wrapper"> {{::metric.shortTitle}}</div>
                    </th>
                    <th ng-if="!isDataList"></th>
                </tr>
                <tr ng-if="isDataList">
                    <th></th>
                    <th ng-repeat="title in relationshipTitles">
                        <div class="table-header-wrapper">
                            <select ng-model="search[title]">
                                <option ng-repeat="val in relationships[title]" value="{{::val}}">{{::val}}</option>
                            </select>
                        </div>
                    </th>
                    <th ng-repeat="metric in ::metricGroup.metrics">
                    </th>
                </tr>
                <tr ng-if="isDataList && $index<maxRow" ng-repeat="dataListItem in filtered = (dataListItems | filter:attrFilter(search))" ng-init="rowNumber = $index + 1" ng-class="$index % 2 != 0 ? 'alt' : ''">
                    <td>{{dataListItem.text}}</td>
                    <td ng-repeat="attr in dataListItem.attributes">{{attr.value}}</td>
                    <td ng-repeat="metric in metricGroup.metrics  | filter: {isDeleted: false} track by $index " ng-include="'comp/common/formControlsViews/_metric/metric.html'" ng-controller="metricController"></td>
                </tr>
                <tr ng-if="!isDataList" ng-repeat="row in rows" ng-init="rowNumber = $index + 1" ng-class="$index % 2 != 0 ? 'alt' : ''">
                    <td>{{$index + 1}}</td>
                    <td ng-repeat="metric in metricGroup.metrics  | filter: {isDeleted: false} track by $index " ng-include="'comp/common/formControlsViews/_metric/metric.html'" ng-controller="metricController"></td>
                    <td>
                        <a ng-click="deleteRow($index + 1)"><i class="fa fa-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a ng-if="isDataList && maxRow < filtered.length" class="button button-block button-stable" ng-click="showAll()">
        <span>Show more</span>
    </a>
</div>
<div class="hr-line-dashed"></div>
