<div class="metric-group">
    <h2>{{metricGroup.title}}</h2>

    <div class="metrics">
        <div class="metric" ng-class="metric.type" ng-init="uniqueId = survey.id + '-' + metric.id" ng-repeat="metric in metricGroup.metrics  | filter: {isDeleted: false} track by $index" ng-click="ctrl.deleteItem(uniqueId)" ng-hide="!ctrl.isItemVisible(uniqueId)">
            <div ng-include="'comp/common/formControlsViews/_metric/metric.html'" ng-controller="metricController"    ></div>
            <i class="delete-icon fa fa-trash fa-3x"></i>
        </div>
    </div>
</div>