
$break-medium: 991px;
$break-small: 360px;

.summary-print {
    .delete-icon {
        display: none;
        position: absolute;
        top: 40%;
        left: 48%;
        z-index: 10
    }

    .metrics {
        .metric:not(.AttachmentMetric) {
            &:hover {
                background-color: #eee;
                opacity: 0.4;

                .delete-icon {
                    display: block
                }
            }
        }

        .metric.AttachmentMetric {
            img {
                &:hover {
                    background-color: #eee;
                    opacity: 0.4;
                }
            }
        }
    }

    .charts-row,
    .timeline-row {
        margin-top: 15px;
    }

    .angular-google-map-container {
        height: 350px;
    }

    .chart-center {
        margin: auto;

        @media screen and (max-width: $break-small) {
            width: 100%;
        }

        @media screen and (max-width: $break-medium) {
            margin-top: 15px;
        }
    }

    .mr-15 {
        margin-right: 15px !important;
    }

    .color-block {
        width: 22px;
        height: 22px;
        border-radius: 2px;
        display: inline-block;
        margin-top: 2px;
    }
}
