$break-medium: 991px;
$break-small: 360px;

.summary-print {
    .content {
        color: black !important;
        font-family: "Times New Roman", sans-serif;
    }

    a {
        color: blue;
        text-decoration: underline;
    }

    .delete-icon {
        display: none;
        position: absolute;
        top: 40%;
        left: 48%;
        z-index: 10
    }

    .metrics {
        .metric:not(.AttachmentMetric) {
            &:hover {
                background-color: #eee;
                opacity: 0.4;

                .delete-icon {
                    display: block
                }
            }
        }

        .metric.AttachmentMetric {
            img {
                &:hover {
                    background-color: #eee;
                    opacity: 0.4;
                }
            }
        }
    }

    .charts-row,
    .timeline-row {
        margin-top: 15px;
    }

    .angular-google-map-container {
        height: 400px;
    }

    .chart-center {
        margin: auto;

        @media screen and (max-width: $break-small) {
            width: 100%;
        }

        @media screen and (max-width: $break-medium) {
            margin-top: 15px;
        }
    }

    .mr-15 {
        margin-right: 15px !important;
    }
    
    .color-block {
        width: 14px;
        height: 14px;
        border-radius: 2px;
        display: inline-block;
        vertical-align: middle;
    }

    #attachments-table tr td .btn_remove_attachment {
        opacity: 0;
        transition: opacity ease-in .3s;
    }

    #attachments-table tr:hover td .btn_remove_attachment {
        opacity: 1;
    }
}

.survey-print .metrics .metric {
    background: inherit !important;
    padding-top: 0;
    padding-bottom: 0;
}