<div class="survey-print summary-print">
    <div ng-include="'comp/home/projects/summary/print/_exportToolbox.html'"></div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">{{ctrl.project.name}}</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="inline mr-15">
                    <i class="fa fa-folder-o"></i> Threads: {{ctrl.totalFormTemplates}}
                </h2>
                <h2 class="inline">
                    <i class="fa fa-wpforms"></i> Records: {{ctrl.totalSurveys}}
                </h2>
                <h2 class="inline pull-right">
                    <a ng-if="!ctrl.enableSnapshotView && ctrl.showTimeline" title="Previous Month" ng-click="ctrl.timelinePreviousMonth()">{{months[(today.getMonth()+11)%12]}} <i class="fa fa-arrow-left"></i></a>
                    <a ng-if="!ctrl.enableSnapshotView && ctrl.showTimeline" title="Next Month" ng-click="ctrl.timelineNextMonth()"><i class="fa fa-arrow-right"></i> {{months[((today.getMonth()+1)%12)]}}</a>
                </h2>
            </div>
        </div>
        <div class="row timeline-row">
            <div class="col-md-12" ng-if="ctrl.showTimeline">
                <lm-timeline form-templates="ctrl.formTemplates" surveys="ctrl.surveys" height="250" render-mode="web" enable-snapshot-view="ctrl.enableSnapshotView"></lm-timeline>
            </div>
        </div>
        <div class="row charts-row">
            <div class="col-md-6" ng-if="ctrl.showMap">
                <lm-locations form-templates="ctrl.uniqFormTemplates" surveys="ctrl.surveys" location-count="ctrl.locationCount"></lm-locations>
            </div>
            <div class="col-md-6" ng-if="ctrl.showPieChart">
                <lm-pie-chart form-templates="ctrl.uniqFormTemplates" surveys="ctrl.surveys" show-legend="true"></lm-pie-chart>
            </div>
        </div>
        
        <div ng-repeat="survey in ctrl.surveys track by $index" ng-init="formTemplate = ctrl.getFormTemplate(survey.formTemplateId)">
            <h1>{{formTemplate.title}}</h1>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" width="120"><i class="fa fa-hashtag"></i></th>
                        <th class="text-center" width="150">Date</th>
                        <th width="200">Completed by</th>
                        <th class="text-center" width="100">Impact</th>
                        <th>Record</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"> {{survey.serial}}</td>
                        <td class="text-center">
                            <lm-date-time value="survey.date"></lm-date-time>
                        </td>
                        <td>{{survey.filledBy}}</td>
                        <td class="text-center">{{ctrl.getSurveyImpact(survey)}}</td>
                        <td>{{survey.description}}</td>
                    </tr>
                </tbody>
            </table>

            <form name="surveyForm" class="wizard-big wizard clearfix" novalidate>
                <div class="metric-groups">
                    <div class="content" ng-repeat="metricGroup in formTemplate.metricGroups | filter: {isDeleted: false} track by $index ">
                        <div ng-if="!metricGroup.isRepeater" ng-include="'comp/home/projects/summary/print/_metricGroup.html'"></div>
                        <div ng-if="metricGroup.isRepeater" ng-include="'comp/home/projects/summary/print/_metricGroupRepeater.html'"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
