<div class="row" ng-controller="dateMetricController">
    <div class="col-md-8 item item-input" ng-if="isPersian">
        <input type="text" name="{{metric.inputName}}" ng-required="metric.mandatory" class="persianDateInput" readonly value="{{dateToString(formValue.dateValue)}}" />
        <div class="persianCalendar" persiandatepicker="formValue.dateValue"></div>
    </div>
    <div class="col-md-8 " ng-if="!isPersian">
        <div class="input-group">
            <input datepicker-options="{}" uib-datepicker-popup="{{'dd/MM/yyyy'}}" is-open="calendar.isOpen" class="form-control" type="text" name="{{inputName}}" ng-required="metric.mandatory" ng-model="formValue.dateValue" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openCalendar()"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
    </div>
    <div class="col-md-4 text-danger errors" ng-messages="{{inputErrorsKey}}">
        <div ng-message="required"><span>This is required</span></div>
    </div>
</div>