<div ng-include="'comp/common/pageHeader.html'"></div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="box">
        <div class="box-title">
            <h5>Organisations</h5>
            <div class="box-tools">
                <a ui-sref="home.organisations.edit" style="color: inherit"><i class="fa fa-plus-square"></i> Add new</a>
            </div>
        </div>
        <div class="box-content">
            <div st-table="displayedOrganisations" st-safe-src="organisations">
                <form name="search-form" class="form-inline">
                    <lm-form-group label="Search: ">
                        <input st-search type="text" id="search" name="search" ng-model="searchTerm" placeholder="Name, root user email" />
                    </lm-form-group>
                </form>

                <div class="table-responsive">
                    <table class="table table-hover table-mail">
                        <thead>
                            <tr>
                                <th st-sort="name">Name</th>
                                <th class="hidden-xs" st-sort="email">Root user email</th>
                                <th class="text-center">Subscriptions</th>
                                <th class="text-center" width="80"></th>
                                <th class="text-center" width="80"></th>
                                <th class="text-center" width="80"></th>
                                <th class="text-center" width="80"></th>
                                <th class="text-center" width="90"></th>
                                <th class="text-center" width="140"></th>
                                <th class="text-center" width="80"></th>
                                <th class="text-center" width="80"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="organisation in displayedOrganisations" ng-if="displayedOrganisations.length">
                                <td><a ui-sref="home.organisations.edit({id:organisation.id})">{{organisation.name}}</a></td>
                                <td class="hidden-xs">{{organisation.rootUserEmail}}</td>
                                <td class="text-center">
                                    <i class="fa fa-check" ng-if="organisation.subscriptionEnabled"></i>
                                    <i class="fa fa-times" ng-if="!organisation.subscriptionEnabled"></i>
                                </td>
                                <td>
                                    <a ui-sref="home.projects.list({organisationId:organisation.id})">
                                        <i class="fa fa-folder-o"></i> <span class="hidden-xs"> cases</span>
                                    </a>
                                </td>
                                <td>
                                    <a ui-sref="home.teams.list({organisationId:organisation.id})">
                                        <i class="fa fa-comments-o"></i> <span class="hidden-xs"> teams</span>
                                    </a>
                                </td>

                                <td>
                                    <a ui-sref="home.users.list({organisationId:organisation.id})">
                                        <i class="fa fa-user-circle-o"></i> <span class="hidden-xs"> staff</span>
                                    </a>
                                </td>
                                <td>
                                    <a ui-sref="home.users.mobile({organisationId:organisation.id})">
                                        <i class="fa fa-phone-square"></i> <span class="hidden-xs"> clients</span>
                                    </a>
                                </td>
                                <td>
                                    <a ui-sref="home.organisations.invitations({organisationId:organisation.id})">
                                        <i class="fa fa-hashtag"></i> <span class="hidden-xs"> tokens</span>
                                    </a>
                                </td>
                                <td>
                                    <a ui-sref="home.organisations.connectionRequests({organisationId:organisation.id})">
                                        <i class="fa fa-connectdevelop"></i> <span class="hidden-xs"> conn. requests</span>
                                    </a>
                                </td>
                                <td>
                                    <a ui-sref="home.organisations.assignments({id:organisation.id})">
                                        <i class="fa fa-link"></i> <span class="hidden-xs"> assign</span>
                                    </a>
                                </td>
                                <td>
                                    <a ng-bootbox-confirm="Are you sure you want to delete this?" ng-bootbox-confirm-action="delete(organisation.id)">
                                        <i class="fa fa-remove"></i><span class="hidden-xs"> delete</span>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="!displayedOrganisations.length">
                                <td colspan="11">No organisations were found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div st-pagination st-items-by-page="10" st-displayed-pages="7"></div>
            </div>
        </div>
    </div>
</div>