<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul lm-side-bar class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{user}}</strong>
                            </span>
                            <span class="text-muted text-xs block">My account<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <!--<li><a href="">My profile</a></li>-->
                        <li><a ui-sref="home.subscriptions.list">Subscriptions</a></li>
                        <li><a ng-click="resetPassword()">Reset password</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    MBS
                </div>

            </li>

            <li ng-class="{'active':$state.includes('home.dashboard.layout')}">
                <a ui-sref="home.dashboard.layout"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li lm-access="System administrator" ng-class="{'active':$state.includes('home.organisations')}">
                <a ui-sref="home.organisations.list"><i class="fa fa-building-o"></i> <span class="nav-label">Organisations</span></a>
            </li>
            <li lm-access="Organisation administrator" ng-class="{'active':$state.includes('home.projects')}">
                <a ui-sref="home.projects.list"><i class="fa fa-folder-o"></i> <span class="nav-label">Users</span></a>
            </li>
            <li lm-access="Organisation user" ng-class="{'active':$state.includes('home.surveys')}">
                <a ui-sref="home.surveys.list"><i class="fa fa-file-text-o"></i> <span class="nav-label">Forms</span></a>
            </li>
            <li lm-access="Organisation administrator" ng-class="{'active':$state.includes('home.users')}">
                <a ui-sref="home.users.list"><i class="fa fa-users"></i> <span class="nav-label">User Management</span></a>
            </li>
            <li lm-access="Organisation administrator" ui-sref-active="active">
                <a ui-sref="home.designer" aria-expanded="false"><i class="fa fa-paint-brush"></i> <span class="nav-label">Designer</span><span class="fa arrow"></span></a>
                <ul lm-access="Organisation administrator" aria-expanded="false" class="nav nav-second-level collapse in">
                    <li ui-sref-active="active">
                        <a ui-sref="home.formtemplates.list">Form Templates</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="home.datalists.list">Data lists</a>
                    </li>
                </ul>
            </li>
            <!--<li ui-sref-active="active">
                <a ui-sref="home.settings"><i class="fa fa-gears"></i> <span class="nav-label">Settings</span></a>
            </li>-->
        </ul>

    </div>
</nav>